geometry : LHCb

paramsDecaying : M, P, PT, PX, PY, PZ
paramsStable : P, PT, PX, PY, PZ

@0
    name : B0
@1
    name : Jpsi
@2
    name : Kstar
@3
    name : mup
    smear : LHCbGeneric
@4
    name : mum
    smear : LHCbGeneric
@5
    name : Kp
    smear : LHCbGeneric
@6
    name : pim
    smear : LHCbGeneric
